<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.matka.rose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="in.matka.rose.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="in.matka.rose.Activity.AddFundRequestActivity"></activity>
        <activity android:name="in.matka.rose.Activity.PanaActivity" />
        <activity
            android:name="in.matka.rose.Activity.splash_activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="in.matka.rose.Activity.MainActivity" />
        <activity android:name="in.matka.rose.Activity.LoginActivity" />
        <activity android:name="in.matka.rose.Activity.RegisterActivity" />
        <activity android:name="in.matka.rose.Activity.LoginWithMpinActivity" />
        <activity android:name="in.matka.rose.Activity.VerificationActivity" />
        <activity android:name="in.matka.rose.Activity.UpdatePasswordActivity" />
        <activity android:name="in.matka.rose.Activity.NewGameActivity" />
        <activity android:name="in.matka.rose.networkconnectivity.NoInternetConnection" />
        <activity android:name="in.matka.rose.MyBaseActivity" />

        <service android:name="in.matka.rose.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="in.matka.rose.NetworkStateChangeReciever"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />
        <service
            android:name="in.matka.rose.Util.NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_7Yndx4Y4bVIYDP" />






    </application>

</manifest>